<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookchicken">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/chicken1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookChicken">
        <activity
            android:name=".Library_Activity"
            android:exported="true" /> <!-- 구글 애드몹 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~6300978111" />

        <activity
            android:name=".BookSearch_Activity"
            android:exported="true" />
        <activity
            android:name=".ReadingRecordAdd"
            android:exported="true" />
        <activity
            android:name=".BookEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemoAdd"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookAdd"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemoEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemoList_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookList_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingRecord_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingRecordEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bookchicken.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 파일경로 xml 생성 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>